<div class="gdpr-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Datenschutzerklärung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="ce_text privacy_item general_part1 block">
        <div class="text">
          <p>
            Mit dieser Datenschutzerklärung möchten wir Sie über Art, Umfang und
            Zweck der Verarbeitung von personenbezogenen Daten (im Folgenden
            auch nur als "Daten" bezeichnet) aufklären. Personenbezogene Daten
            sind alle Daten, die einen persönlichen Bezug zu Ihnen aufweisen, z.
            B. Name, Adresse, E-Mail-Adresse oder Ihr Nutzerverhalten. Die
            Datenschutzerklärung gilt für alle von uns vorgenommene
            Daten-Verarbeitungsvorgänge sowohl im Rahmen unserer Kerntätigkeit
            als auch für die von uns vorgehaltenen Online-Medien.
          </p>
        </div>
      </div>
      <div class="ce_text privacy_item contact_responsible block">
        <div class="text">
          <h2>Wer bei uns für die Datenverarbeitung verantwortlich ist</h2>
          <p>Verantwortlich für die Datenverarbeitung ist:</p>
        </div>
      </div>
      <p>
        Imkerei Brenner² + Litmeier<br />Peter Brenner<br />Bergsteig 17/1<br />72218
        Wildberg<br />Deutschland<br />07054-7537<br />info@honigwerkstatt-wildberg.de<br />https://www.honigwerkstatt-wildberg.de/imprint
      </p>
      <div class="ce_text privacy_item general_part3 block">
        <div class="text">
          <h2>
            Verarbeitung Ihrer Daten im Rahmen der von uns erbrachten
            handwerklichen Leistungen
          </h2>
          <p>
            Sofern Sie unser Kunde oder Geschäftspartner sind oder sich für die
            Leistungen unseres Handwerksbetriebes interessieren, richtet sich
            Art, Umfang und Zweck der Verarbeitung Ihrer Daten nach dem zwischen
            uns bestehenden vertraglichen bzw. vorvertraglichen Beziehungen. In
            diesem Sinne gehören zu den von uns verarbeiteten Daten all
            diejenigen Daten, die wir von Ihnen abfragen oder die Sie uns
            bereitstellen, um Ihre Anfrage zu beantworten, Ihnen ein Angebot zu
            erstellen oder Ihre Bestellung zu bearbeiten. Sofern sich aus den
            weiteren Hinweisen dieser Datenschutzerklärung nichts anderes
            ergibt, beschränkt sich die Verarbeitung Ihrer Daten sowie deren
            Weitergabe an Dritte auf diejenigen Daten, die zur Beantwortung
            Ihrer Anfragen und/oder zur Erfüllung des zwischen Ihnen und uns
            geschlossenen Vertrages, zur Wahrung unserer Rechte sowie zur
            Erfüllung gesetzlicher Pflichten erforderlich und zweckmäßig sind.
            Welche Daten hierfür erforderlich sind, teilen wir Ihnen vor oder im
            Rahmen der Datenerhebung mit. Soweit wir zur Erbringung unserer
            Leistungen Drittanbieter einsetzen, gelten die Datenschutzhinweise
            der jeweiligen Drittanbieter.
          </p>
          <p><strong>Betroffene Daten:</strong></p>
          <ul>
            <li>Bestandsdaten (bspw. Namen, Adressen)</li>
            <li>Zahlungsdaten (bspw. Bankverbindungsdaten, Rechnungen)</li>
            <li>
              Kontakdaten (bspw. E-Mail-Adresse, Telefonnummer, Postanschrift)
            </li>
            <li>Vertragsdaten (bspw. Vertragsgegenstand, Vertragsdauer)</li>
          </ul>
          <p>
            <strong>Betroffene Personen: </strong>Interessenten, Geschäfts- und
            Vertragspartner
          </p>
          <p>
            <strong>Verarbeitungszweck: </strong>Abwicklung vertraglicher
            Leistungen, Kommunikation sowie Beantwortung von Kontaktanfragen,
            Büro und Organisationsverfahren
          </p>
          <p>
            <strong>Rechtsgrundlage:</strong> Vertragserfüllung und
            vorvertragliche Anfragen, Art. 6 Abs. 1 lit. b DSGVO, rechtliche
            Verpflichtung, Art. 6 Abs. 1 lit. c DSGVO, berechtigtes Interesse,
            Art. 6 Abs. 1 lit. f DSGVO
          </p>
        </div>
      </div>
      <div class="ce_text privacy_item general_part3 block">
        <div class="text">
          <h2>Ihre Rechte nach der DSGVO</h2>
          <p>
            Nach der DSGVO stehen Ihnen die nachfolgend aufgeführten Rechte zu,
            die Sie jederzeit bei dem in Ziffer 1. dieser Datenschutzerklärung
            genannten Verantwortlichen geltend machen können:
          </p>
          <ul>
            <li>
              <strong>Recht auf Auskunft:</strong> Sie haben das Recht, von uns
              Auskunft darüber zu verlangen, ob und welche Daten wir von Ihnen
              verarbeiten.
            </li>
            <li>
              <strong>Recht auf Berichtigung:</strong> Sie haben das Recht, die
              Berichtigung unrichtiger oder Vervollständigung unvollständiger
              Daten zu verlangen.
            </li>
            <li>
              <strong>Recht auf Löschung:</strong> Sie haben das Recht, die
              Löschung Ihrer Daten zu verlangen.
            </li>
            <li>
              <strong>Recht auf Einschränkung:</strong> Sie haben in bestimmten
              Fällen das Recht zu verlangen, dass wir Ihre Daten nur noch
              eingeschränkt bearbeiten.
            </li>
            <li>
              <strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das
              Recht zu verlangen, dass wir Ihnen oder einem anderen
              Verantwortlichen Ihre Daten in einem strukturierten, gängigen und
              maschinenlesebaren Format übermitteln.
            </li>
            <li>
              <strong>Beschwerderecht</strong>: Sie haben das Recht, sich bei
              einer Aufsichtsbehörde zu beschweren. Zuständig ist die
              Aufsichtsbehörde Ihres üblichen Aufenthaltsortes, Ihres
              Arbeitsplatzes oder unseres Firmensitzes.
            </li>
          </ul>
          <h3>Widerrufsrecht</h3>
          <p>
            Sie haben das Recht, die von Ihnen erteilte Einwilligung zur
            Datenverarbeitung jederzeit zu widerrufen.
          </p>
          <h3>Widerspruchsrecht</h3>
          <p>
            Sie haben das Recht, jederzeit gegen die Verarbeitung Ihrer Daten,
            die wir auf unser berechtigtes Interesse nach Art. 6 Abs. 1 lit. f
            DSGVO stützen, Widerspruch einzulegen. Sofern Sie von Ihrem
            Widerspruchsrecht Gebrauch machen, bitten wir Sie um die Darlegung
            der Gründe. Wir werden Ihre personenbezogenen Daten dann nicht mehr
            verarbeiten, es sei denn, wir können Ihnen gegenüber nachweisen,
            dass zwingende schutzwürdige Gründe an der Datenverarbeitung Ihre
            Interessen und Rechte überwiegen.
          </p>
          <p>
            <span style="text-decoration: underline"
              ><strong
                >Unabhängig vom vorstehend Gesagten, haben Sie das jederzeitige
                Recht, der Verarbeitung Ihrer personenbezogenen Daten für Zwecke
                der Werbung und Datenanalyse zu widersprechen.</strong
              ></span
            >
          </p>
          <p>
            Ihren Widerspruch richten Sie bitte an die oben angegebene
            Kontaktadresse des Verantwortlichen.
          </p>
          <h2>Wann löschen wir Ihre Daten?</h2>
          <p>
            Wir löschen Ihre Daten dann, wenn wir diese nicht mehr brauchen oder
            Sie uns dies vorgeben. Dass bedeutet, dass - sofern sich aus den
            einzelnen Datenschutzhinweisen dieser Datenschutzerklärung nichts
            anderes ergibt - wir Ihre Daten löschen,
          </p>
          <ul>
            <li>
              wenn der Zweck der Datenverarbeitung weggefallen ist und damit die
              jeweilige in den einzelnen Datenschutzhinweisen genannte
              Rechtsgrundlage nicht mehr besteht, also bspw.
              <ul>
                <li>
                  nach Beendigung der zwischen uns bestehenden vertraglichen
                  oder mitgliedschaftlichen Beziehungen (Art. 6 Abs. 1 lit. a
                  DSGVO) oder
                </li>
                <li>
                  nach Wegfall unseres berechtigten Interesses an der weiteren
                  Verarbeitung oder Speicherung Ihrer Daten (Art. 6 Abs. 1 lit.
                  f DSGVO),
                </li>
              </ul>
            </li>
            <li>
              wenn Sie von Ihrem Widerrufsrecht Gebrauch machen und keine
              anderweitige gesetzliche Rechtsgrundlage für die Verarbeitung im
              Sinne von Art. 6 Abs. 1 lit. b-f DSGVO eingreift,
            </li>
            <li>
              wenn Sie vom Ihrem Widerspruchsrecht Gebrauch machen und der
              Löschung keine zwingenden schutzwürdigen Gründe entgegenstehen.
            </li>
          </ul>
          <p>
            Sofern wir (bestimmte Teile) Ihre(r) Daten jedoch noch für andere
            Zwecke vorhalten müssen, weil dies etwa steuerliche
            Aufbewahrungsfristen (in der Regel 6 Jahre für
            Geschäftskorrespondenz bzw. 10 Jahre für Buchungsbelege) oder die
            Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen aus
            vertraglichen Beziehungen (bis zu vier Jahren) erforderlich machen
            oder die Daten zum Schutz der Rechte einer anderen natürlichen oder
            juristischen Person gebraucht werden, löschen wir (den Teil) Ihre(r)
            Daten erst nach Ablauf dieser Fristen. Bis zum Ablauf dieser Fristen
            beschränken wir die Verarbeitung dieser Daten jedoch auf diese
            Zwecke (Erfüllung der Aufbewahrungspflichten).
          </p>
        </div>
      </div>
      <div class="ce_text privacy_item external_hosting block">
        <div class="text">
          <h2>Webhosting</h2>
          <p>
            Wir bedienen uns zum Vorhalten unserer Internetseiten eines
            Anbieters, auf dessen Server unsere Internetseiten gespeichert und
            für den Abruf im Internet verfügbar gemacht werden (Hosting).
            Hierbei können von dem Anbieter all diejenigen über den von Ihnen
            genutzten Browser übertragenen Daten verarbeitet werden, die bei der
            Nutzung unserer Internetseiten anfallen. Hierzu gehören insbesondere
            Ihre IP-Adresse, die der Anbieter benötigt, um unser Online-Angebot
            an den von Ihnen genutzten Browser ausliefern zu können sowie
            sämtliche von Ihnen über unsere Internetseite getätigten Eingaben.
            Daneben kann der von uns genutzte Anbieter&nbsp;&nbsp;
          </p>
          <ul>
            <li>
              das Datum und die Uhrzeit des Zugriffs auf unsere Internetseite
            </li>
            <li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
            <li>Zugriffsstatus (HTTP-Status)</li>
            <li>die übertragene Datenmenge</li>
            <li>der Internet-Service-Provider des zugreifenden Systems</li>
            <li>der von Ihnen verwendete Browsertyp und dessen Version</li>
            <li>das von Ihnen verwendete Betriebssystem</li>
            <li>
              die Internetseite, von welcher Sie gegebenenfalls auf unsere
              Internetseite gelangt sind
            </li>
            <li>
              die Seiten bzw. Unterseiten, welche Sie auf unserer Internetseite
              besuchen.
            </li>
          </ul>
          <p>
            erheben. Die vorgenannten Daten werden als Logfiles auf den Servern
            unseres Anbieters gespeichert. Dies ist erforderlich, um die
            Stabilität und Sicherheit des Betriebs unserer Internetseite zu
            gewährleisten.
          </p>
          <p class="invisible">&nbsp;</p>
          <p><strong>Betroffene Daten:</strong></p>
          <ul>
            <li>Inhaltsdaten (bspw. Posts, Fotos, Videos)</li>
            <li>Nutzungsdaten (bspw. Zugriffszeiten, angeklickte Webseiten)</li>
            <li>
              Kommunikationsdaten (bspw. Informationen über das genutzte Gerät,
              IP-Adresse)
            </li>
          </ul>
          <p>
            <strong>Betroffene Personen: </strong>Nutzer unserer Internetpräsenz
          </p>
          <p>
            <strong>Verarbeitungszweck: </strong>Ausspielen unserer
            Internetseiten, Gewährleistung des Betriebs unserer Internetseiten
          </p>
          <p>
            <strong>Rechtsgrundlage:</strong> Berechtigtes Interesse, Art. 6
            Abs. 1 lit. f DSGVO
          </p>
          <p><strong>Von uns beauftragte(r) Webhoster:</strong></p>
        </div>
      </div>
      <div class="ce_text block">
        <div class="text">
          <p><strong>Hetzner Online</strong></p>
          <p>
            Dienstanbieter: Hetzner Online GmbH, Industriestr. 25, 91710
            Gunzenhausen<br />Internetseite:
            <a href="https://www.hetzner.de/" class="externalLink"
              >https://www.hetzner.de/</a
            ><br />Datenschutzerklärung:
            <a
              href="https://www.hetzner.de/rechtliches/datenschutz"
              class="externalLink"
              >https://www.hetzner.de/rechtliches/datenschutz</a
            >
          </p>
        </div>
      </div>
      <div class="ce_text block">
        <div class="text">
          <h2>Kontaktaufnahme</h2>
          <p>
            Soweit Sie uns über E-Mail, Soziale Medien, Telefon, Fax, Post,
            unser Kontaktformular oder sonstwie ansprechen und uns hierbei
            personenbezogene Daten wie Ihren Namen, Ihre Telefonnummer oder Ihre
            E-Mail-Adresse zur Verfügung stellen oder weitere Angaben zur Ihrer
            Person oder Ihrem Anliegen machen, verarbeiten wir diese Daten zur
            Beantwortung Ihrer Anfrage im Rahmen des zwischen uns bestehenden
            vorvertraglichen oder vertraglichen Beziehungen.
          </p>
          <p><strong>Betroffene Daten:</strong></p>
          <ul>
            <li>Bestandsdaten (bspw. Namen, Adressen)</li>
            <li>
              Kontakdaten (bspw. E-Mail-Adresse, Telefonnummer, Postanschrift)
            </li>
            <li>Inhaltsdaten (Texte, Fotos, Videos)</li>
            <li>Vertragsdaten (bspw. Vertragsgegenstand, Vertragsdauer)</li>
          </ul>
          <p>
            <strong>Betroffene Personen: </strong>Interessenten, Kunden,
            Geschäfts- und Vertragspartner
          </p>
          <p>
            <strong>Verarbeitungszweck: </strong>Kommunikation sowie
            Beantwortung von Kontaktanfragen, Büro und Organisationsverfahren
          </p>
          <p>
            <strong>Rechtsgrundlage:</strong> Vertragserfüllung und
            vorvertragliche Anfragen, Art. 6 Abs. 1 lit. b DSGVO, berechtigtes
            Interesse, Art. 6 Abs. 1 lit. f DSGVO
          </p>
        </div>
      </div>
      <div class="ce_text block">
        <div class="text">
          <h2>Unsere Onlinepräsenzen bei sozialen Netzwerken</h2>
          <p>
            Wir betreiben Onlinepräsenzen innerhalb der nachfolgend
            aufgelisteten sozialen Netzwerke. Besuchen Sie eine dieser
            Präsenzen, werden durch den jeweiligen Anbieter die unten näher
            aufgeführten Daten erhoben und verarbeitet. In der Regel werden
            diese Daten zur Werbe- und Marktforschungszwecke erhoben und hiermit
            Nutzungsprofile angelegt. In den Nutzungsprofilen können Daten
            unabhängig des von Ihnen verwendeten Gerätes gespeichert werden.
            Dies ist insbesondere dann der Fall, wenn Sie Mitglied der
            jeweiligen Plattform und bei dieser eingeloggt sind. Die
            Nutzungsprofile können von den Anbietern dazu verwendet werden, um
            Ihnen interessenbezogene Werbung auszuspielen. Gegen die Erstellung
            von Nutzerprofilen steht Ihnen ein Widerrufsrecht zu. Um dieses
            auszuüben, müssen Sie sich an den jeweiligen Anbieter wenden.
          </p>
          <p>
            Wenn Sie einen Account bei einem der unten aufgeführten Anbieter
            besitzen und beim Besuch unserer Webseite dort eingeloggt sind, kann
            der jeweilige Anbieter Daten über Ihr Nutzungsverhalten auf unserer
            Webseite erheben. Um eine solche Verknüpfung Ihrer Daten zu
            verhindern, können Sie sich vor dem Besuch unserer Seite bei dem
            Dienst des Anbieters ausloggen.
          </p>
          <p>
            Zu welchem Zweck und in welchem Umfang Daten von dem Anbieter
            erhoben werden, können Sie den jeweiligen, im Folgenden
            mitgeteilten, Datenschutzerklärungen der Anbieter entnehmen.
          </p>
          <p>
            Wir möchten Sie darauf hinweisen, dass je nach Sitzland des unten
            genannten Anbieters die über dessen Plattform erfassten Daten
            außerhalb des Raumes der Europäischen Union übertragen und
            verarbeitet werden können. Es besteht in diesem Fall das Risiko,
            dass das von der DSGVO vorgeschriebene Datenschutzniveau nicht
            eingehalten und die Durchsetzung Ihrer Rechte nicht oder nur
            erschwert erfolgen kann.
          </p>
          <p><strong>Betroffene Daten:</strong></p>
          <ul>
            <li>
              Bestands- und Kontaktdaten (bspw. Name, Adresse, Telefonnummer,
              E-Mail-Adresse)
            </li>
            <li>Inhaltsdaten (bspw. Posts, Fotos, Videos)</li>
            <li>Nutzungsdaten (bspw. Zugriffszeiten, angeklickte Webseiten)</li>
            <li>
              Kommunikationsdaten (bspw. Informationen über das genutzte Gerät,
              IP-Adresse).
            </li>
          </ul>
          <p>
            <strong>Verarbeitungszweck: </strong>Kommunikation und Marketing,
            Verfolgen und Anaylse von Nutzerverhalten
          </p>
          <p>
            <strong>Rechtsgrundlage:</strong> Einwilligung, Art. 6 Abs. 1 lit. a
            DSGVO, berechtigtes Interessen Art. 6 Abs. 1 lit. f DSGVO
          </p>
          <p>
            <strong>Widerspruchsmöglichkeiten: </strong>Zu den jeweiligen
            Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die
            nachfolgend verlinkten Angaben der Anbieter.
          </p>
          <p>
            <strong
              >Wir unterhalten Onlinepräsenzen auf folgenden sozialen
              Netzwerken:</strong
            >
          </p>
        </div>
      </div>
      <div class="ce_text privacy_item sp_instagram block">
        <div class="text">
          <p><strong>Instagram</strong></p>
          <p>
            Dienstanbieter: Instagram Inc., 1601 Willow Road, Menlo Park CA
            94025, USA<br />Mutterunternehmen: Facebook Inc., 1 Hacker Way,
            Menlo Park, CA 94025, USA<br />Sitz in der EU: Facebook Ireland
            Limited, 4 Grand Canal Square, Dublin 2, Ireland<br />Internetseite:
            <a href="https://www.instagram.com/" class="externalLink"
              >https://www.instagram.com/</a
            ><br />Datenschutzerklärung:
            <a
              href="https://instagram.com/about/legal/privacy"
              class="externalLink"
              >http://instagram.com/about/legal/privacy</a
            >
          </p>
        </div>
      </div>
      <div class="ce_text privacy_item general_part4 block">
        <div class="text">
          <h2>Sicherheitsmaßnahmen</h2>
          <p>
            Wir treffen im Übrigen technische und organisatorische
            Sicherheitsmaßnahmen nach dem Stand der Technik, um die Vorschriften
            der Datenschutzgesetze einzuhalten und Ihre Daten gegen zufällige
            oder vorsätzliche Manipulationen, teilweisen oder vollständigen
            Verlust, Zerstörung oder gegen den unbefugten Zugriff Dritter zu
            schützen.
          </p>
          <h2>Aktualität und Änderung dieser Datenschutzerklärung</h2>
          <p>
            Diese Datenschutzerklärung ist aktuell gültig und hat den Stand
            August 2021. Aufgrund geänderter gesetzlicher bzw. behördlicher
            Vorgaben kann es notwendig werden, diese Datenschutzerklärung
            anzupassen.
          </p>
          <p>
            <strong
              >Diese Datenschutzerklärung wurde mit Hilfe des
              Datenschutz-Generators von SOS Recht erstellt. SOS Recht ist ein
              Angebot der Mueller.legal Rechtsanwälte Partnerschaft mit Sitz in
              Berlin.</strong
            >
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
