<h2>Blindtext</h2>
<p>Gespräch mit der Bienenkönigin:          </p>        
<p>„Erlauben Sie mir, einen Wunsch zu sagen.</p>
<p>Ich möcht ein Glas Honig haben.</p>
<p>Was kostet's? Ich bin zu zahlen bereit.</p>
<p>Für was Gutes ist mir mein Geld nicht leid.“</p>
<p>„Sie wollen was Gutes für ihr Geld?</p>
<p>Sie kriegen das Beste von der Welt!</p>
<p>Sie kaufen goldnen Sonnenschein,</p>
<p>Sie kaufen pure Gesundheit ein!</p>
<br>
<p>Was Bessres als Honig hat keiner erfunden.</p>
<p>Der Preis? Ich verrechne die Arbeitsstunden.</p>
<p>Zwölftausend Stunden waren zu fliegen,</p>
<p>um so viel Honig zusammenzukriegen.</p>
<p>Ja, meine Leute waren fleissig!</p>
<p>Die Stunde? Ich rechne zwei Mark dreissig.</p>
<br>
<p>Nun rechnen Sie sich's selber aus!</p>
<p>27000 Mark und mehr.</p>
<p>Hier ist die Rechung, Ich bitte sehr!“</p>
<br>
<p>Josef Guggenmos (1922)</p>