<div class="about-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Imkerei Brenner + Litmeier</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Die Imkerei wurde 2014 von mir gegründet. Nach dem interessanten
        Einführungstag in Hohenheim und einem spannenden Jungimkerkurs beim BV
        Nagold ging es los. Hier wurden uns viele Neuigkeiten und die Arbeiten
        im Bienenjahr in Praxis und Theorie gezeigt und die ersten beiden Völker
        wurden angeschafft.
      </p>

      <p>
        Im darauffolgenden Winter besuchte ich noch den angebotenen Honigkurs,
        um auch in Sachen Hygiene und sonstigen wichtigen Inhalten vertraut zu
        werden, die beim Verkauf des Honigs zu beachten sind.
      </p>

      <p>
        Meine Enkelsöhne Noah und Elia unterstützten mich zu Beginn beim Aufbau
        der Imkerei. Noah insbesondere beim Entwickeln des Projektes "Naturnahe
        Firmengelände", er stieg dann aber 2019 wieder aus.
      </p>

      <p>
        Elia machte dann 2019 auch den Jungimkerkurs des BV Nagold und hilft
        momentan noch beim Schleudern, Einfüttern und Behandeln. Sein Bruder
        Joshua möchte ab 2022 mitmachen, da Elia zwecks seiner Ausbildung
        pausieren möchte.
      </p>
    </mat-card-content>
  </mat-card>
</div>
