@import '../settings.style.scss';

mat-sidenav-container{
    height: 90vh;

    mat-sidenav{
        background-color: $primaryBackground;
    }

    mat-sidenav-content{
        background-color: $primaryBackground;
    }

    .additional-nav{
        margin-left: 8px;
        margin-right: 8px;
    
        a{
            margin-right: 8px;
        }
    }
}