<header>
  <app-top-bar [drawer]="drawer"></app-top-bar>
</header>
<mat-sidenav-container [hasBackdrop]="false">
  <!-- temporary push as long rail not work. Dont now why -->
  <mat-sidenav #drawer appRailNav mode="side" opened="false">
    <mat-nav-list>
      <mat-list-item routerLink="/home">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine> Home </a>
      </mat-list-item>
      <mat-list-item routerLink="/about">
        <mat-icon matListIcon>emoji_nature</mat-icon>
        <a matLine> Über uns </a>
      </mat-list-item>
      <mat-list-item routerLink="/contact">
        <mat-icon matListIcon>contact_page</mat-icon>
        <a matLine> Kontakt </a>
      </mat-list-item>

      <div *ngIf="drawer.opened">
        <mat-divider></mat-divider>
        <div class="additional-nav">
          <a matLine routerLink="/imprint"> Impressum </a>
          <a matLine routerLink="/gdpr"> Datenschutz </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
