<mat-card class="landing-text-block-container">
  <img
    class="header"
    mat-card-image
    [src]="Model.image ?? '/assets/placeholder_bees.jpg'"
    alt="Photo of Bees"
  />
  <mat-card-header>
    <mat-card-title>{{
      Model.title ?? "this could be a nice title"
    }}</mat-card-title>
    <mat-card-subtitle>{{
      Model.subtitle ?? "no shit sherlock"
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ Model.text ?? "here could be a nice blind text about lyrics" }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="Model.navLink" mat-button>WEITERLESEN</button>
  </mat-card-actions>
</mat-card>
