.landing-text-block-container {
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 4em;
  margin-right: 4em;
  max-width: 32em;

  @media  (max-width: 426px) {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 32em;
  }

  img.header {
    object-fit: cover;
    height: 340px;
  }

  mat-card-content {
    p {
      height: 15em;
    }
    padding-left: 16px;
    padding-right: 16px;
  }
  mat-card-actions {
    button {
      margin: 0 8px;
      background-color: transparent !important;
      border: none;
    }
  }
}
