<div class="project-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Naturnahe Firmengelände</mat-card-title>
      <mat-card-subtitle>Gemeinsam für die Artenvielfalt</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="table-content">
        <ol>
          <li><a href="/project#section-start">Start</a></li>
          <li><a href="/project#section-lebensraum">naturnahe Lebensräume schaffen</a></li>
          <li><a href="/project#section-vorteile">Vorteile</a></li>
          <li><a href="/project#section-summen">Vielfalt Firmengelände – es summt und brummt</a></li>
          <li><a href="/project#section-firmen">Vorteile für Firmen</a></li>
          <li><a href="/project#section-leader"> Förderung des Projekts</a></li>
        </ol>
      </div>
      <section id="section-start">
        <p>
          Wir haben ein Konzept entwickelt, damit mehr Lebensräume in
          Firmengelände für Insekten, Bienen (auch Wildbienen), Hummeln und
          Vögel entstehen können.
        </p>
        <p>
          Bei Fahrten durch verschiedene Gewerbegebiete ist uns aufgefallen,
          dass viele kurzgemähte Grünflächen die Firmengelände zieren, Büsche,
          Sträucher und Bäume säumen die Ränder. Für unsere heimischen Insekten
          und Vögel meistens nicht der optimale Lebensraum. Hier sehen wir ein
          riesiges Potential, wie mit geringen finanziellen Mitteln eine Art
          „Renaturierung“ gestaltet werden kann:
        </p>
        <ol>
          <li>
            Schaffung naturnaher Firmengelände und dadurch Vernetzung der
            Biodiversität in Gewerbegebieten zum Erhalt und Schutz der
            Artenvielfalt. Hier beteiligen wir uns gerne bei der Umsetzung.
          </li>
          <li>
            Honigbienen in Firmengeländen unterstützen und verstärken diese
            Maßnahmen und machen auf eine „süße Art und Weise“ Ihre Mitarbeiter,
            sowie Kunden, aber auch die Öffentlichkeit auf diese Kampagne
            aufmerksam.
          </li>
        </ol>
        <p>
          Wir möchten Ihnen hier unser Konzept erläutern, wie wir uns die
          Umsetzung Naturnaher Oasen auf Firmengeländen vorstellen. Nehmen Sie
          sich bitte die Zeit zum Lesen und lassen sich von unserer Idee einfach
          inspirieren. Vielen Dank.
        </p>
        <mat-divider></mat-divider>
      </section>
      <section id="section-lebensraum">
        <h3>Vielfalt Firmengelände – naturnahe Lebensräume schaffen</h3>
        <p>
          Der strukturelle Wandel in der uns umgebenden Natur führt zu
          umgreifenden Veränderungen in der Land- und Forstwirtschaft, aber auch
          im Gartenbau und in der Gestaltung städtischer und betrieblicher
          Grünflächen.
        </p>
        <p>
          In Zeiten großer landwirtschaftlicher Monokulturen finden viele
          blütenbesuchende Insekten kaum noch Nahrung. Blühflächen, die im
          Sommer ausreichend blühen, bieten dagegen Bienen und Schmetterlingen
          während dieser kritischen Trachtlücke Nahrung.
        </p>
        <p>
          Blumenwiesen statt Rasenflächen! Auf naturnahen Firmengeländen sorgen
          bestimmte Gestaltungsprinzipien und Pflegemaßnahmen dafür, dass
          Lebens-, Nahrungs- und Schutzräume für Pflanzen und Tiere erhalten
          oder geschaffen werden. Mehrjährige Blühflächen sind mit einem
          überschaubaren Aufwand ein guter Einstieg, um mit der naturnahen
          Gestaltung innerhalb Ihres Unternehmens zu beginnen.
        </p>
        <p>
          Lassen Sie auf einigen Flächen Verwilderung zu, also mähen Sie die
          Blumenwiesen dann vergleichsweise selten und spät im Jahr und
          schneiden Sie Hecken erst nach der ersten Brutzeit.
        </p>
        <p>
          Ist diese Vielfalt an differenzierten und naturnahen Lebensräumen erst
          geschaffen, folgt ganz von selbst eine erstaunliche Vielzahl
          verschiedenster Tier- und Pflanzenarten.
        </p>
        <p>
          Die heimische Flora bietet einen großen Fundus attraktiver und
          nützlicher Wildpflanzen, die konventionellen Zierpflanzen weder in
          Form, Funktion noch Ästhetik nachstehen. Für fast jede Zierpflanze
          kann ein heimisches „Äquivalent“ gefunden werden.
        </p>
        <mat-divider></mat-divider>
      </section>
      <section id="section-vorteile">
        <h3>Vorteile</h3>
        <p>
          Verbesserung und Stärkung der Biodiversität durch blühende
          Firmengelände mit dem Anlegen von mehrjährigen Blumenwiesen und mit
          heimischen Gehölzen. Bunte Wiesen unterstützen das eifrige Summen und
          Brummen im Gelände. Es gibt mehr als 500 verschiedene Wildbienenarten
          in Deutschland. Jede Art ist auf lokale Nahrungspflanzen
          spezialisiert. Dabei ist es wichtig, auf regionale Mischungen zu
          achten, um heimische Tier- und Pflanzenarten zu fördern.
        </p>
        <p>
          Der ökologische Wert heimischer Wildpflanzen ist unglaublich hoch: Die
          heimische Stieleiche ernährt z. B. 300 Insekten- und 28 Vogelarten,
          die eingebürgerte Rosskastanie nur 4 Insekten- und 2 Vogelarten.
          Heimische Wildpflanzen sind oft robuster, konkurrenzfähiger und
          krankheitsresistenter als die meisten Zierformen. Sie sind optimal an
          lokale klimatische Bedingungen angepasst.
        </p>
        <p>
          Bienen und Insekten brauchen nicht nur Nahrung, sondern auch
          Nistplätze und Baumaterial. Es reicht also nicht, ihnen nur
          bienenfreundliche Pflanzen anzubieten. Natürliche Nistplätze finden
          sie auf sandigen Böden, in Trockenmauern oder in Erd- Stein- oder
          Asthaufen. Sogar in Holzstapeln lassen sich die Tiere nieder.
        </p>
        <mat-divider></mat-divider>
      </section>
      <section id="section-summen">
        <h3>Vielfalt Firmengelände – es summt und brummt</h3>
        <p>
          Wenn nun die ersten Bienenweiden auf den Freiflächen innerhalb Ihres
          Firmengeländes angelegt sind, zeigen sich recht bald bunte
          Blumenwiesen. Sie blühen den ganzen Sommer über bis zum ersten Frost.
        </p>
        <p>
          Beobachten Sie dann den Wachstumsprozess, wie aus winzigen,
          schrumpeligen Klümpchen und Körnchen grüne Stängel emporwachsen, die
          sich als Abschluss eine farbenfrohe Blütenkrone aufsetzen.
        </p>
        <p>
          Jetzt beginnt der rege Besuch von Bienen, Hummeln, Schmetterlinge und
          Co. Nektar und Blütenstaub werden gesammelt und in den Bienenstock
          transportiert- eine willkommene Nahrungsquelle im Sommer und Herbst,
          wo doch an vielen Standorten immer weniger zu finden ist.
        </p>
        <p class="attention">
          Stadtimkern ist modern und gerade voll im Trend. Gärten, Balkone und
          Grünanlagen bieten den Bienen und Insekten viele Möglichkeiten zum
          Bestäuben und zum Sammeln von Pollen und Nektar. Immer mehr
          Gartenbesitzer greifen zum Wohle der Insekten häufiger zu
          bienenfreundlichen Blühpflanzen. Genau hier möchten wir ansetzen und
          diesen Trend, mit Imkern in Gewerbegebieten, erweitern und ergänzen.
          Imkern in den Firmengeländen, das ist absolut kein Widerspruch,
          sondern bietet eine fast unerschöpfliche Vielfalt an Möglichkeiten.
          Denn da wo Menschen arbeiten und viel Lebenszeit verbringen, sollen
          sich die Honigbienen, aber auch Schmetterlinge, Hummeln und andere
          Insekten wieder heimisch fühlen. Deshalb bieten wir Ihnen für Ihr
          Firmengelände, im Kontext mit der naturnahen Gestaltung von
          Blumenwiesen und Blühstreifen, Bienenvölker an. Im Herbst füllen wir
          dann für Sie Ihren „firmeneigenen leckeren Honig“ in Gläser mit
          schönen Etiketten ab. Sie bezahlen uns dafür einen jeweils
          individuellen Fixpreis und wir betreuen die Völker das ganze Jahr über
          auf Ihrem Betriebsgelände. Um die geänderten Lebensräume anschaulich
          und nachvollziehbar zu vergleichen, wäre ein Kontrakt über 5 Jahre
          sinnvoll, der sich natürlich gerne darüber hinaus verlängern lässt.
        </p>
        <mat-divider></mat-divider>
      </section>
      <section id="section-firmen">
        <h3>Vorteile für Firmen</h3>
        <p>
          Als Bestäuber erbringen Bienen eine wichtige Leistung im Naturgefüge
          und für die Menschen. Mit der Aufstellung von Bienenstöcken und einer
          naturnahen Gestaltung des Firmengeländes, können Sie dem Verlust
          biologischer Vielfalt entgegenwirken.
        </p>
        <p>
          Der Erholungswert der Mitarbeiter in den Pausen erhöht sich und
          verbessert die Aufenthaltsqualität durch naturnahe und blühende
          Firmengelände. Sie können so den Verlauf der Natur im Bienenjahr
          beobachten.
        </p>
        <p>
          Schautafeln an neu angelegten Blühstreifen, Insektenhotels und den
          Bienenvölkern machen Ihre Geschäftspartner, Zulieferer und die
          Öffentlichkeit darauf aufmerksam, dass sich Ihr Unternehmen
          kontinuierlich für die Förderung der biologischen Vielfalt und
          Aufenthaltsqualität der Mitarbeiter einsetzt.
        </p>
        <p>
          Ihren Kunden und Mitarbeitern können Sie den leckeren Honig zu
          besonderen Anlässen schenken. Die Etiketten werden entsprechend
          gestaltet und weisen auf das Projekt hin.
        </p>
        <p>
          Ob also im eigenen Garten, oder auf Ihrem Firmengelände - Sie können
          selbst aktiv werden und Wildbienen, Insekten sowie auch Honigbienen
          Lebensraum bieten. Machen Sie mit- Gemeinsam für die Artenvielfalt!
        </p>
        <mat-divider></mat-divider>
      </section>
      <section id="section-leader">
        <h3>Förderung des Projekts</h3>
        <p>
          Das Heckengäu ist eine von 18 in Baden-Württemberg ausgewählten
          LEADER-Regionen. LEADER ist eine franz. Abkürzung und heißt übersetzt
          die „Verbindung von Aktionen zur Entwicklung der ländlichen
          Wirtschaft“.
        </p>
        <p>
          Es ist ein EU-Förderprogramm mit dem Ziel, die ländlichen Gebiete zu
          stärken und zu entwickeln. Zusätzlich gibt es jetzt das Regionalbudget
          und Fördermittel für Klein- und Kleinstprojekte. Auch Sie können für
          die Umgestaltung Fördermittel beantragen.
        </p>
        <p>
          Das Aktionsgebiet www.leader-heckengaeu.de erstreckt sich von Süden
          nach Norden und von West nach Ost über 21 Kommunen in den Landkreisen
          Calw, Böblingen, Enzkreis und Ludwigsburg.
        </p>
        <p>
          Unsere Recherchen ergaben, dass es in Deutschland keine vergleichbare
          Aktion in einer Gebietskulisse gibt. Möglicherweise kann dann die
          Region als sogenanntes Pilotprojekt für Aufmerksamkeit sorgen.
        </p>
        <p>
          Wir wurden mit dem Projekt im November 2019 von Leader Heckengäu
          gefördert und werden somit vom Bund, dem Land Baden-Württemberg und
          auch Leader Heckengäu unterstützt. Die teilnehmenden Firmen können
          dann auch mit den Logos offiziell werben und die gute Sache
          weiterverbreiten.
        </p>
        <p>
          Folgende Firmen aus dem Aktionsgebiet, die wir im Januar 2020
          angeschrieben haben, setzten bereits mit uns 2020 die Konzeption um:
          Digel AG Nagold (www.digel.de) sowie Wagon Automotive Nagold GmbH
          (www.wagon-automotive.de) und die Hochdorfer Kronenbrauerei
          (www.hochdorfer.de). Neu hinzu gekommen sind in 2021: Volksbank
          Herrenberg-Nagold-Rottenburg eG (www.vbhnr.de) und die Firma dieda
          Systembauteile GmbH + Co. KG (www.dieda.de)
        </p>
      </section>
    </mat-card-content>
  </mat-card>
</div>
