.partner-link-container{
    img{
        // filter: brightness(1) grayscale(1);
        max-width: 300px;
        max-height: 200px;
    }

    margin-top: 64px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
}