<div class="bee-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>die Biene</mat-card-title>
      <mat-card-subtitle
        >Botschafterin für mehr Artenvielfalt</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        Die Biene befindet sich auf einem Höhenflug. Als sympathische
        Botschafterin für mehr Artenvielfalt ist die Popularität der fleißigen
        Pollensammlerin nicht völlig neu. Bekommt sie doch durch den
        Nachhaltigkeitstrend Aufwind und auch durch die aufrüttelnden
        Nachrichten über das Insektensterben.
      </p>
      <p>
        Würde die Biene gänzlich verschwinden müssten wir morgens nicht nur auf
        unser Honigbrotverzichten sondern auch auf das Müsli zum Frühstück oder
        frisches Obst. Die Biene ist immerhin für die Bestäubung eines drittels
        unserer Landwirtschaftlichen erzeugnisse verantwortlich.
      </p>
      <p>
        Ohne die Biene oder andere Blütenbestäuber würden hundertausende
        Pflanzen nicht verbreitet werden und so die Nahrungsquelle für unzälige
        Tierarten fehlen. Die Biene ist also ein wichtiger bestandteil unserer
        Artenvielfalt.
      </p>
      <p>
        Es ist besorgniserregend das in den letzten Jahren die Bienenpopultation
        teils drastisch sinkt. In Europa gibt es ein Rückgang von ca. 10%, in
        den USA 30% und im Nahen Osten sogar von 85%.
      </p>
      <p>
        Ohne die Biene würde eine nicht unerhebliche Menge der Jährlichen
        Landwirtschaftlichen Nahrungsproduktion zurückgehen. Was bei steigendem
        Bedarf durch das Wachstum der Menschheit erhebliche Ökonimsche und
        Ökologischen folgen hätte.
      </p>
    </mat-card-content>
  </mat-card>
</div>
