<mat-toolbar>
    <button
      mat-icon-button
      class="menu-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer?.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Honigwerkstatt Wildberg</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="openInNewTab('https://www.instagram.com/honigwerkstatt')"
    >
      <fa-icon [icon]="faInstagram"></fa-icon>
    </button>
  </mat-toolbar>