@import '../../settings.style.scss';

mat-toolbar{
  background-color: $primaryBackground;

  button {
    border: none;
    height: 40px;
    width: 40px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  fa-icon{
    width: 25px;
    height: 25px;
    color: white;
    font-size: x-large;
  }
}